* text=auto !eol
/build.xml -text
nbproject/build-impl.xml -text
nbproject/genfiles.properties -text
nbproject/private/config.properties -text
nbproject/private/private.properties -text
nbproject/private/private.xml -text
nbproject/project.properties -text
nbproject/project.xml -text
src/ForNeVeR/Bullet.java -text
src/ForNeVeR/Geometry.java -text
src/ForNeVeR/Map.java -text
src/ForNeVeR/Point.java -text
src/ForNeVeR/Sniper.java -text
src/ForNeVeR/Target.java -text
src/ForNeVeR/TargetPosition.java -text
